@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&display=swap');
/* @import 'tailwindcss/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities; */
:root {
  --primary: #0ced6a;
  --light-accent: #68d696;
  --dark-accent: #08a449;
  --secondary: #0CEDDB;
  --red: #ff0000;
  --background: #1b1a1a;
  --light-background: #2b2a2a;
  --font-color: white;
  --light-font: #aabbc3;
}

body {
  padding: 0;
  background-color: var(--background);
  scroll-behavior: smooth;
  color: var(--font-color);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

strong { 
  font-weight: bold; 
  color: var(--light-accent);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--dark-accent);
}

button,input[type=submit] {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  transition: 0.2s;
  font-size: 17px;
}

button:hover,input[type=submit]:hover {
  border-color: var(--dark-accent);
}

input[type=text],input[type=password] {
  padding: 10px;
  border-radius: 15px;
  border: 1.5px solid black;
  background-color: transparent;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
  width: 200px;
  /* margin-bottom: 30px; */
  color:black;
  text-align: center;
}

input[type=text]:focus,input[type=password]:focus {
  border-color: var(--dark-accent);
}

.red {
  font-weight: bold;
  color: var(--red);
}

  /* .leftflex{
border: 1px solid black;
    
  }

  .rightflex{
    border: 1px solid black;
  } */



  .homeimage{
    border-radius: 10px;
    margin:10px

}
.container-fluid{
  padding: 80px;
}
.homelinks{
  text-align: center;
}
.labelclass{
  display: flex;
  padding: 12px;
}
.card-title{
  font-size: xx-large;
  font-weight: 700;
}
.forgetlink{
  font-size: large;
 font-weight:500;
  color: #2b2a2a;
  text-decoration: none;
}
.linkdiv{
  margin: 20px;
}
.logoutbutton{
  margin: 20px;
  display: flex;
  justify-content: center;
}
a {
  color: inherit!important; /* Makes the link color inherit from its parent */
  text-decoration: none!important; /* Removes underline */
}
.setup h2{
  padding:20px;
  text-align: center;
  font-size:xx-large;
  font-weight: 500;
}
.bg-custom h2{
  padding:10px;
  text-align: center;
  font-size:xx-large;
  font-weight: 500;
}
.bg-custom{
  background: #F1F9F7;
  padding: 25px;
}
.existinguserbutton{
  margin: 10px;
}
.userinput{
  margin: 10px!important;
}
.submit{
  padding: 15px 30px;
    background: black;
    color: white;
    align-self: center;
  
border-radius: 15px;
}